$color-azul: blue;
$color-apricot: antiquewhite;
$color-chocolate: chocolate;
$color-crema: beige;
$color-lila: cornflowerblue;
$color-negro: dimgray;
$color-rojo: red;
$color-fawn: darkorange;



.spanAzul {
    color: $color-azul;
  }
  
  .spanApricot {
    color: $color-apricot;
  }
  
  .spanChocolate {
    color: $color-chocolate;
  }
  
  .spanCrema {
    color: $color-crema;
  }
  
  .spanLila {
    color: $color-lila;
  }
  
  .spanNegro {
    color: $color-negro;
  }
  
  .spanRojo {
    color: $color-rojo;
  }

  .spanFawn {
    color: $color-fawn;
  }